<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.project.mapper.DeviceMapper">
    <select id="getDevById" resultType="com.ww.project.bean.Device">
        SELECT * FROM device_information WHERE id=#{id}
    </select>
    <select id="list" resultType="com.ww.project.bean.Device">
        SELECT * FROM device_information
    </select>
    <select id="devCount" resultType="Integer">
        SELECT COUNT(*) FROM device_information
    </select>
    <select id="devvCount" resultType="Integer">
        SELECT COUNT(status) FROM device_information WHERE status='运行'
    </select>
    <select id="wdCount" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='温度传感器'
    </select>
    <select id="dlCount" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='电流传感器'
    </select>
    <select id="routerCount" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='Router'
    </select>
    <select id="ipCount" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='IP Camera'
    </select>
    <select id="wd1Count" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='温度传感器' AND status='运行'
    </select>
    <select id="dl1Count" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='电流传感器' AND status='运行'
    </select>
    <select id="router1Count" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='Router' AND status='运行'
    </select>
    <select id="ip1Count" resultType="Integer">
        SELECT COUNT(device_type) FROM device_information WHERE device_type='IP Camera' AND status='运行'
    </select>
    <insert id="addDev">
        INSERT INTO device_information (device_type,device_brand,device_version,mac,ip) VALUES (
        #{type},#{brand},#{version},#{mac},#{ip})
    </insert>
    <delete id="DelDev">
        DELETE FROM device_information WHERE id = #{id}
    </delete>
</mapper>