<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/static/js/echarts.min.js}"></script>
    <script th:src="@{/static/js/jquery.min.js}"></script>
</head>
<body>
    <div id="test" style="height: 300px;width: 300px"></div>
    <script>
        $(document).ready(function () {
            var myChart = echarts.init(document.getElementById('test'));
            myChart.showLoading();
            var names = [];
            var nums = [];
            $.ajax({
                type:"post",
                async:true,
                url:"/chart3",
                data:{},
                dataType:"json",
                success: function (result) {
                    if(result){
                        for (var i=0;i<result.length;i++){
                            names.push(result[i].name);
                            nums.push(result[i].num);
                        }
                        myChart.hideLoading();
                        myChart.setOption({
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b}: {c} ({d}%)"
                            },
                            series: [
                                {
                                    name:'攻击类型',
                                    type:'pie',
                                    radius: ['60%', '30%'],
                                    itemStyle:{
                                        normal:{
                                            labelLine:{
                                                length:60
                                            }
                                        }
                                    },
                                    label:{
                                        normal:{
                                            show: true
                                        }
                                    },
                                    avoidLabelOverlap:false,
                                    data:[
                                        {value:nums.pop(), name:names.pop(),itemStyle: { color: '#ae3a28'}},
                                        {value:nums.pop(), name:names.pop(),itemStyle: { color: '#7b7c65' }},
                                        {value:nums.pop(), name:names.pop(),itemStyle: { color: '#cba24b' }}
                                    ]
                                }
                            ]
                        })
                    }
                }
            })
        })
    </script>
</body>
</html>